NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 39.8 ns HIGH 50 %;

NET "COM_SPICLK" TNM_NET = "COM_SPICLK";
TIMESPEC "TS_COM_SPICLK" = PERIOD "COM_SPICLK" 18 ns HIGH 50 %;

OFFSET = OUT 12 ns AFTER "COM_SPICLK"  ;
OFFSET = IN 8 ns BEFORE "COM_SPICLK"  ;

#NET	"COM_SPICLK"	LOC ="R11"	 | IOSTANDARD = LVTTL;
#NET	"COM_SPIIN"		LOC ="T10"	 | IOSTANDARD = LVTTL;
#NET	"COM_SPIOUT"	LOC ="P10"	 | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ;
#NET	"COM_SPICS"		LOC ="T3"	 | IOSTANDARD = LVTTL;

NET	"COM_SPICLK"	LOC ="H5"	 | IOSTANDARD = LVTTL; #green
NET	"COM_SPIIN"		LOC ="G5"	 | IOSTANDARD = LVTTL; # orange
NET	"COM_SPIOUT"	LOC ="G6"	 | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = FAST ; #yellow
NET	"COM_SPICS"		LOC ="F5"	 | IOSTANDARD = LVTTL; #red

NET	"TEST0"			LOC ="F12"	 | IOSTANDARD = LVTTL;
NET	"RECONFIG"		LOC ="F6"	 | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;

NET	"SPICS"			LOC ="T3"	 | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"SPIIN"			LOC ="T10"	 | IOSTANDARD = LVTTL;
NET	"SPIOUT"			LOC ="P10"	 | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET	"SPICLK"			LOC ="R11"	 | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;

NET	"NINIT"			LOC ="R3"	 | IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ;
 
NET	"CLK"				LOC ="M9"	 | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;

NET	"LEDS<1>"		LOC ="F13"	 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; #Set dir 0=output
NET	"LEDS<0>"		LOC ="F7"	 | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;

#JP600
NET	"IOBITS<0>"		LOC ="P4"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<1>"		LOC ="R1"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<2>"		LOC ="M4"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<3>"		LOC ="L5"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<4>"		LOC ="M5"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<5>"		LOC ="K6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<6>"		LOC ="T4"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<7>"		LOC ="P5"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<8>"		LOC ="P6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<9>"		LOC ="M7"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<10>"	LOC ="N6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<11>"	LOC ="M6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<12>"	LOC ="L7"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<13>"	LOC ="L8"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<14>"	LOC ="P7"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<15>"	LOC ="N8"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<16>"	LOC ="M12"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<17>"	LOC ="N11"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<18>"	LOC ="M11"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<19>"	LOC ="M10"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<20>"	LOC ="L10"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<21>"	LOC ="N9"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<22>"	LOC ="P11"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<23>"	LOC ="T11"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;

#JP601
NET	"IOBITS<24>"	LOC ="D3"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<25>"	LOC ="C3"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<26>"	LOC ="B3"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<27>"	LOC ="D5"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<28>"	LOC ="A4"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<29>"	LOC ="B2"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<30>"	LOC ="A2"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<31>"	LOC ="A3"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<32>"	LOC ="A5"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<33>"	LOC ="A6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<34>"	LOC ="A7"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<35>"	LOC ="A8"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<36>"	LOC ="B8"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<37>"	LOC ="A9"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<38>"	LOC ="A10"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<39>"	LOC ="B10"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<40>"	LOC ="E11"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<41>"	LOC ="D12"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<42>"	LOC ="D11"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<43>"	LOC ="E10"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<44>"	LOC ="D9"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<45>"	LOC ="F9"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<46>"	LOC ="D8"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<47>"	LOC ="E8"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;

#JP600/601
NET	"IOBITS<48>"	LOC ="R9"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<49>"	LOC ="T9"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<50>"	LOC ="T8"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<51>"	LOC ="R7"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<52>"	LOC ="T7"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<53>"	LOC ="T6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<54>"	LOC ="R5"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<55>"	LOC ="T5"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<56>"	LOC ="E7"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<57>"	LOC ="D6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<58>"	LOC ="E6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<59>"	LOC ="C9"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<60>"	LOC ="C8"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<61>"	LOC ="C7"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<62>"	LOC ="C6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<63>"	LOC ="B6"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<64>"	LOC ="A12"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<65>"	LOC ="B12"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<66>"	LOC ="A13"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<67>"	LOC ="C13"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<68>"	LOC ="A14"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<69>"	LOC ="B14"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<70>"	LOC ="C11"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;
NET	"IOBITS<71>"	LOC ="E13"	 | IOSTANDARD = LVTTL | DRIVE = 24 | SLEW = SLOW ;

#NET	"DONE"			LOC ="P13"	 ;
#NET	"PROG_B"			LOC ="T2"	 ;

#Flash, U2
#NET	"/HOLD /RESET"	LOC ="P12"	 ;
#NET	"/WP"				LOC ="N12"	 ;

#JTAG
#NET	"FPGATMS"		LOC ="A15"	 ;
#NET	"FPGATDI"		LOC ="C12"	 ;
#NET	"FPGATDO"		LOC ="E14"	 ;
#NET	"FPGACLK"		LOC ="C14"	 ;

#PHY0, U200
#NET	"GTXCLK"			LOC ="D1"	 ;
#NET	"TXD[0]"			LOC ="E3"	 ;
#NET	"TXD[1]"			LOC ="E2"	 ;
#NET	"TXD[2]"			LOC ="E1"	 ;
#NET	"TXD[3]"			LOC ="F3"	 ;
#NET	"TX_EN"			LOC ="E4"	 ;
#NET	"RXC"				LOC ="F1"	 ;
#NET	"RXD[0]"			LOC ="F2"	 ;
#NET	"RXD[1]"			LOC ="F4"	 ;
#NET	"RXD[2]"			LOC ="G1"	 ;
#NET	"RXD[3]"			LOC ="G3"	 ;
#NET	"RXD_DV"			LOC ="H1"	 ;

#PHY1, U201
#NET	"GTXCLK"			LOC ="J1"	 ;
#NET	"TXD[0]"			LOC ="J3"	 ;
#NET	"TXD[1]"			LOC ="K1"	 ;
#NET	"TXD[2]"			LOC ="K2"	 ;
#NET	"TXD[3]"			LOC ="H3"	 ;
#NET	"TX_EN"			LOC ="H2"	 ;
#NET	"RXC"				LOC ="K3"	 ;
#NET	"RXD[0]"			LOC ="L1"	 ;
#NET	"RXD[1]"			LOC ="L3"	 ;
#NET	"RXD[2]"			LOC ="M1"	 ;
#NET	"RXD[3]"			LOC ="M2"	 ;
#NET	"RXD_DV"			LOC ="M3"	 ;

#SDRAM, U100
#NET	"DQ0"				LOC ="C15"	 ;
#NET	"DQ1"				LOC ="C16"	 ;
#NET	"DQ2"				LOC ="D14"	 ;
#NET	"DQ3"				LOC ="E15"	 ;
#NET	"DQ4"				LOC ="E16"	 ;
#NET	"DQ5"				LOC ="F14"	 ;
#NET	"DQ6"				LOC ="F16"	 ;
#NET	"DQ7"				LOC ="G14"	 ;
#NET	"DQ8"				LOC ="G11"	 ;
#NET	"DQ9"				LOC ="E12"	 ;
#NET	"DQ10"			LOC ="H14"	 ;
#NET	"DQ11"			LOC ="G16"	 ;
#NET	"DQ12"			LOC ="F15"	 ;
#NET	"DQ13"			LOC ="D16"	 ;
#NET	"DQ14"			LOC ="B16"	 ;
#NET	"DQ15"			LOC ="B15"	 ;
#NET	"DQ16"			LOC ="N16"	 ;
#NET	"DQ17"			LOC ="P16"	 ;
#NET	"DQ18"			LOC ="P15"	 ;
#NET	"DQ19"			LOC ="R15"	 ;
#NET	"DQ20"			LOC ="R16"	 ;
#NET	"DQ21"			LOC ="R14"	 ;
#NET	"DQ22"			LOC ="T14"	 ;
#NET	"DQ23"			LOC ="R12"	 ;
#NET	"DQ24"			LOC ="T12"	 ;
#NET	"DQ25"			LOC ="T13"	 ;
#NET	"DQ26"			LOC ="T15"	 ;
#NET	"DQ27"			LOC ="M13"	 ;
#NET	"DQ28"			LOC ="N14"	 ;
#NET	"DQ29"			LOC ="M15"	 ;
#NET	"DQ30"			LOC ="L12"	 ;
#NET	"DQ31"			LOC ="L13"	 ;
#NET	"A0"				LOC ="L16"	 ;
#NET	"A1"				LOC ="M14"	 ;
#NET	"A2"				LOC ="M16"	 ;
#NET	"A3"				LOC ="K14"	 ;
#NET	"A4"				LOC ="J12"	 ;
#NET	"A5"				LOC ="J13"	 ;
#NET	"A6"				LOC ="J11"	 ;
#NET	"A7"				LOC ="H13"	 ;
#NET	"A8"				LOC ="H11"	 ;
#NET	"A9"				LOC ="G12"	 ;
#NET	"A10/AP"			LOC ="L14"	 ;
#NET	"BA0"				LOC ="K16"	 ;
#NET	"BA1"				LOC ="K15"	 ;
#NET	"DQM0"			LOC ="GND"	 ;
#NET	"DQM1"			LOC ="GND"	 ;
#NET	"DQM2"			LOC ="GND"	 ;
#NET	"DQM3"			LOC ="GND"	 ;
#NET	"CLK"				LOC ="K11/K12"	 ;
#NET	"CKE"				LOC ="VCC"	 ;
#NET	"~CS"				LOC ="J16"	 ;
#NET	"~RAS"			LOC ="J14"	 ;
#NET	"~CAS"			LOC ="H15"	 ;
#NET	"~WE"				LOC ="H16"	 ;

